@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

@layer base {
  .font-inter {
    font-family: 'Inter', sans-serif;
  }

  .font-poppins {
    font-family: 'Poppins', sans-serif;
  }

  .font-outfit {
    font-family: 'Outfit', sans-serif;
  }

  .font-worksans {
    font-family: 'Work Sans', sans-serif;
  }

  .font-roboto {
    font-family: 'Roboto', sans-serif;
  }
}

@font-face {
  font-family: 'Satoshi';
  src: url('/fonts/Satoshi-Regular.otf') format('opentype');
}
